<div class="jumbotron">
  <h2 class="display-4">About Jungle</h2>
  <p class="lead">
  One stop shop for all your needs from Apparels, Electronics and furniture.
  </p>
  <hr class="my-4">

  <p>Customer satisfaction and product quality is our priority. Sign up for weekly news letters for great deals and discounts.
  Happy Shopping!
  </p>
 
</div>